#root {
  font-family: 'Mali', cursive;
}

#root .navbar-light .navbar-toggler-icon {
  background-image: url("./font-awesome/ellipsis-v-solid.svg");
}

#root .navbar-toggler {
  border-color: rgba(0,0,0,0);
  font-size: .8em;
}

#root .btn {
  border-radius: 50px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 1px 1px 5px #aca7a7;
  background: #FFF;
  text-align: center;
}
.footer p {
  margin-top: 5px;
  font-size: .5em;
  margin-bottom: 5px;
}

.layer{
  max-width: 620px;
  font-size: 1em;
  margin-left: 25px;
}

.calendar{
  max-width: 600px;
  margin: auto;
}

.blog{
  max-width: 600px;
  margin: auto;
  margin-top: 100px;
  height: 100%;
}
.blog h1{
  font-weight: bold;
  font-size: 1.8em;
}
.blog span{
  font-size: .8em;
}
.blog p{
  font-size: 1em;
}
.avatar{
  width: 24px;
  height: 24px;
  margin-right: 8px;
  flex: 0 0 24px;
  border-radius: 12px;
}
.profile{
  margin-top: 15px;
  margin-bottom: 15px;
}
.article {
  width: 100%;
}
.docs{
  max-width: 600px;
  margin: auto;
  margin-top: 100px;
}
.docs h1{
  font-weight: bold;
  font-size: 1.8em;
}
.login {
  margin-top: 100px;
  text-align: center;
}
.about {
  margin-top: 100px;
}
.account{
  margin-top: 100px;
}
@media (max-width: 400px) {
  .layer {
    text-align: center;
    margin-left: 0;
  }
  .blog{
    margin-top: 20px;
  }
  .docs{
    margin-top: 20px;
  }
  .login{
    margin-top: 20px;
  }
  .account{
    margin-top: 20px;
  }
  .account p{
    margin-bottom: 0;
  }
  .edit-profile{
    width: 100%;
  }
  .about {
    margin-top: 20px;
  }
}