#root {
  font-family: 'Mali', cursive;
}

#root .navbar-light .navbar-toggler-icon {
  background-image: url("./font-awesome/ellipsis-v-solid.svg");
}

#root .navbar-toggler {
  border-color: rgba(0,0,0,0);
  font-size: .8em;
}

.main {
  position: absolute;
  margin-top: -150px;
  width: 700px;
  margin-left: 400px;
  opacity: .1;
}

.layer{
  margin-top: 100px;
}
