#root {
  font-family: 'Mali', cursive;
}

#root .navbar-light .navbar-toggler-icon {
  background-image: url("./font-awesome/ellipsis-v-solid.svg");
}

#root .navbar-toggler {
  border-color: rgba(0,0,0,0);
  font-size: .8em;
}

.layer{
  margin-top: 50px;
}
@media (max-width: 400px) {
  .layer {
    text-align: center;
  }
}